<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Matrix</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Pizzaria Matrix</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cardapio">Cardápio</a></li>
                <li><a href="/fazer-pedido">Fazer Pedido</a></li>
                <li><a href="/pedidos">Meus Pedidos</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <footer>
        <p>Created by: Wesley Afonso Gomes</p>
    </footer>
</body>
</html>