<h2>Bem-vindo à Pizzaria Matrix</h2>

<p>Aqui você encontra as meelhores pizzas, assim como na matrix, irão fazer você pensar se realmente está na realidade.</p>

<ul id="home">
    <li>Total de pizzas: </li>
    <li>Pizzas disponíveis: </li>
    <li>Caregorias: </li>
</ul>

<div id="btn">
    <a href="/cardapio"><input type="button" value="Ver Cardápio"></a>
</div>
<div id="btn">
    <a href="/fazer-pedido"><input type="button" value="Fazer Pedido"></a>
</div>