* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(224, 224, 224);
    padding: 10px;
}

h1, h2, h3 {
    padding: 10px;
}


header {
    background-color: rgb(129, 129, 129);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.329);
}
header nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 10px;
}
header nav ul li:hover {
    background-color: rgba(218, 218, 218, 0.521);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.514);
}
a {
    text-decoration: none;
}
p {
    padding: 10px;
}